.TodoTemplate {
    width: 512px; /* 컨테이너의 고정된 너비를 설정 */
    // width가 주어진 상태에서 좌우 중앙 정렬
    margin-left: auto; /* 좌측 마진을 자동으로 설정하여 중앙 정렬 */
    margin-right: auto; /* 우측 마진을 자동으로 설정하여 중앙 정렬 */
    margin-top: 6rem; /* 컨테이너의 상단 마진을 6rem으로 설정 */
    border-radius: 10px; /* 컨테이너의 모서리를 4px 만큼 둥글게 설정 */
    overflow: hidden; /* 컨테이너 내부의 넘치는 내용을 숨김 */
   
    .app-title {
      background: #22b8cf; /* 제목 영역의 배경색을 설정 */
      color: white; /* 제목 텍스트의 색상을 흰색으로 설정 */
      height: 4rem; /* 제목 영역의 높이를 4rem으로 설정 */
      font-size: 1.5rem; /* 제목 텍스트의 크기를 1.5rem으로 설정 */
      display: flex; /* 제목 영역을 flex 컨테이너로 설정 */
      align-items: center; /* flex 컨테이너의 아이템을 수직 중앙으로 정렬 */
      justify-content: center; /* flex 컨테이너의 아이템을 수평 중앙으로 정렬 */
    }
    .content {
      background: rgb(255, 255, 255); /* 내용 영역의 배경색을 흰색으로 설정 */
    }
  }

  /*
이 책에서는 레이아웃을 할 때 flex라는 display 속성을 자주 
쓸 텐데요. 코드에 있는 주석을 읽으며 작성해 보면 각 코드가
 어떤 역할을 하는지 충분히 학습할 수 있지만,
  flex를 더 자세히 알고 싶다면 
  Flexbox Froggy(http://flexboxfroggy.com/#ko)
  라는 사이트를 추천합니다. 
  flex를 학습하는 데 큰 도움이 될 것입니다.
  */